h1{
    line-height: 2.8125rem;
    font-size: 1.0625rem;
    margin: 0;
}

img {
    display: inline-block;
    vertical-align: middle;
}

.ui-page-theme-a .ui-bar-inherit h1 a, .ui-page-theme-a a{
    color: #FFFFFF;
    text-decoration: none;
}

.ui-page-theme-a .ui-bar-inherit h1 a img{
    padding-right: 5px;
}

.quick-links img{
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.spacer{
    margin: .8em;
}

.product{
    margin-bottom: 2em;
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

#cartDiv{
    padding-bottom: 20px;
}

#cartDiv table{
    width:100%;
    background-color: #f6f6f6;
    border: 1px solid #adadad;
    border-radius: .3125em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}

#cartDiv td, #cartDiv th{
    padding: 3px;
}

.cartHeader{
    border-top-left-radius: .3125em;
    border-top-right-radius: .3125em;
    background-color:#ad1102;
    color: #fff;
    font-weight: normal;
    text-shadow: 0 1px 0 #000000;
}

.cartSubheader{
    background-color: #ddd;
}

.cartFooterLeft, .cartFooterRight{
    background-color: #ddd;
}

.cartFooterLeft{
    border-bottom-left-radius: .3125em;
}

.cartFooterRight{
    border-bottom-right-radius: .3125em;
}

.form{
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f6f6f6;
    border: 1px solid #adadad;
    border-radius: .3125em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    font-weight: bold;
}

.form input{
    width:100%;
}

.submit{
    padding: 5px;
    background-color: #ad1102;
    color: #fff;
    border: 1px solid #adadad;
    border-radius: .3125em;
    margin-top: 10px;
    text-shadow: 0 1px 0 #000000;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}

.submit:hover{
    background-color: #dddddd;
    color: #8e0b00;
    text-shadow: none;
    cursor: pointer;
    font-weight: bold;
}